# Application
APP_PORT=8080
APP_ENV=development
APP_READ_TIMEOUT_SECONDS=15
APP_WRITE_TIMEOUT_SECONDS=15
APP_IDLE_TIMEOUT_SECONDS=60

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=orders_db
MONGODB_TIMEOUT_SECONDS=10

# RabbitMQ
RABBITMQ_URI=amqp://admin:admin@rabbitmq:5672/
RABBITMQ_EXCHANGE=orders
RABBITMQ_QUEUE=order-status-events
RABBITMQ_ROUTING_KEY=order.status.updated

# Logger
LOGGER_LEVEL=debug

